@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to SmartGear Online</h2>

<p>This page demonstrates Dependency Injection and Middleware.</p>

<h4>Current Time from Service:</h4>
<p>@ViewBag.Time</p>
